main {
  width: 100%;
  height: 100vh;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-main {
  width: 600px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;
  border-radius: 8px;
  border: 1.9px solid;
}

.title {
  font-size: 3rem;
  font-family: "Times New Roman";

  color: black;

  border-bottom: 2px solid;
  margin-bottom: 15px;
}

.container-add {
  margin-bottom: 15px;
}

.input-add {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  border-radius: 8px 0 0 8px;
  border: none;

  background-color: white;
  color: black;
}

.btn-add {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  border-radius: 0 8px 8px 0;
  border: none;

  padding: 0.6em 1.2em;
  background-color: white;
  color: black;
  cursor: pointer;
}

.container-select {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-right: 50px;
  margin-bottom: 10px;
}

select {
  border: none;
  padding: 2px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.tasks {
  width: 500px;
  height: 600px;
  padding: 10px;

  display: flex;
  justify-content: space-between;

  font-weight: 300;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 15px;
}

.task {
  width: 480px;
  height: 50px;

  display: flex;
  justify-content: space-between;

  padding: 0 12px;
}
.task-title {
  width: 440px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}



.btn-trash {
  color: black;
  background-color: transparent;

  cursor: pointer;
  border: none;
}

p {
  padding: 15px;
  color: white;
}

.container-delete {
  width: 500px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-delete > button {
  padding: 6px;
  width: 130px;

  font-weight: bold;

  background: white;
  color: black;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: 0.5s ease-in-out;
}

.container-delete > button:hover {
  background-color: rgb(218, 217, 217);
}
